body {
    display: grid;
    grid-template-columns: 70px 3fr 6fr 3fr;
    margin: 0px;
    /* width: 100vw; */
    /* height: 100vh; */
    overflow: hidden;
}

.svSB {
    background: #202225;
    overflow: scroll;
}

.svSB::-webkit-scrollbar {
    display: none;
}


.svSB {
    padding: 15px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.server {
    background: #36393f;
    width: 48px;
    display: flex;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
    padding: 12px 0px;
}

.server:hover {
    background: #5865f2;
}

.server .messages {
    position: absolute;
    bottom: -3;
    right: -3;
    background-color: #202225;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    display: inline-block;
    padding: 5px;
}

.server .messages a {
    font-size: 8px;
    background: red;
    display: flex;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.svGrp_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px 15px 3px;
    background: #2f3136;
    color: #FFF;
    font-weight: bolder;
    border-bottom: 2px solid rgba(0, 0, 0, .3);
}

.svGrp_title:hover {
    background: #828383;
}

.svGrp .svGrp_content {
    background: #2f3136;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.svGrp_title>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.svGrp_subGroup>div:first-child img {
    width: 20px;
}

.svGrp_subGroup>div:last-child img {
    width: 15px;
}

.svGrp_subGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.svGrp_subGroup>div {
    display: flex;
    color: #FFF;
    padding: 5px 15px;
}


.svGrp_user {
    background: #232324;
    margin-bottom: 50px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.svGrp_user>div:first-child span {
    background: #36393f;
    width: 28px;
    height: 5px;
    display: flex;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 12px 0px;
}

.svGrp_user>div:first-child {
    display: flex;
    align-items: center;
    padding: 0px 5px;

}

.svGrp_user>div:first-child span img {
    width: 20px;


}

.svGrp_user>div>div p {
    margin: 0px;
    color: #FFF;
    margin-left: 8px;
}

.svGrp_user>div:first-child span a {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 7px;
    height: 7px;
    background-color: green;
    border-radius: 100%;
}

.svGrp_user>div:first-child:hover {
    background: #424242;
    border-radius: 5px;
}

.svGrp_user>div:last-child {

    align-items: center;
    display: flex;
}

.svGrp_user>div:last-child img {
    margin: 0px 3px;
    border-radius: 5px;
    padding: 5px;
}

.svGrp_user>div:last-child img:hover {
    background: #424242;
}

.grpCon {
    background-color: #424141;
    position: relative;
}

.grpCon_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 15px 15px 3px;
    background: #424141;
    color: #FFF;
    font-weight: bolder;
    border-bottom: 2px solid rgba(0, 0, 0, .3);
}

.grpCon_title>div:first-child img {
    width: 25px;
    padding-right: 7px;
}

.grpCon_title>div:first-child {
    display: flex;
    align-items: center;
}

.grpCon_title>div:last-child {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grpCon_TypeBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #5a5a5a;
    padding: 10px 15px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.grpCon_TypeBar>div:first-child img {
    width: 20px;
}

.grpCon_TypeBar>div:last-child img {
    width: 20px;
}

.grpCon_TypeBar input {
    width: 100%;
    border: none;
    background: none;
    padding-right: 75px;
    color: #FFF;
}

.grpCon_TypeBar input:focus {
    outline: none;
}

.grpUs {
    background-color: #2f3136;
}

.grpUs_SearchBar {
    background-color: #424242;
    padding: 11.5px;
    display: flex;
    align-items: center;
    font-weight: bolder;
    border-bottom: 2px solid rgba(0, 0, 0, .3);
    justify-content: space-between;
}

.grpUs_SearchBar>div:first-child,
.grpUs_SearchBar>div:last-child {
    display: flex;
}

.grpUs_SearchBar input {
    width: 80px;
    border: none;
    background: none;
    color: #FFF
}

.grpUs_SearchBar input:focus {
    outline: none;
}

.grpUs_SearchBar>div:first-child {
    background-color: #232324;
    border-radius: 5px;
    padding: 5px;
}

.grpUs_SearchBar>div:last-child {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    align-items: center;
}

.grpUs_SearchBar>div:last-child img {
    margin: 0px 5px;
}

.online_user {
    background-color: #2f3136;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 3px 20px 3px 3px;
    margin-bottom: 0px;
}

.grpUs_Users>div:first-child p {
    color: #FFF;
    padding-left: 10px;
    margin-bottom: 5px;
}

.online_user>div:first-child {
    width: 95%;
    padding: 5px;
}

.Offline{
    opacity: .5;
}