body {
    display: grid;
    grid-template-columns: 70px 3fr 6fr 3fr;
    margin: 0px;
    /* width: 100vw; */
    /* height: 100vh; */
    overflow: hidden;
}

.svSB {
    background: #202225;
    overflow: scroll;
}

.svSB::-webkit-scrollbar {
    display: none;
}


.svSB {
    padding: 15px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.server {
    background: #36393f;
    width: 48px;
    display: flex;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
    padding: 12px 0px;
}

.server:hover {
    background: #5865f2;
}

.server .messages {
    position: absolute;
    bottom: -3;
    right: -3;
    background-color: #202225;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    display: inline-block;
    padding: 5px;
}

.server .messages a {
    font-size: 8px;
    background: red;
    display: flex;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.svGrp_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px 15px 3px;
    background: #2f3136;
    color: #FFF;
    font-weight: bolder;
    border-bottom: 2px solid rgba(0, 0, 0, .3);
}
.svGrp_title:hover {
    background: #828383;
}

.svGrp .svGrp_content {
    background: #2f3136;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.svGrp_title > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.svGrp_subGroup > div:first-child img{
    width: 20px;
}

.svGrp_subGroup > div:last-child img{
    width: 15px;
}

.svGrp_subGroup{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.svGrp_subGroup > div{
    display: flex;
    color: #FFF;
    padding: 5px 15px;
}


.svGrp_user{
    background: #202225;
    margin-bottom: 50px;
}




